.title {
  font-size: 25px;
  color: red;
  text-align: center;
}

.palette {
  display: flex;
  justify-content: space-around;
}

.colors {
  height: 200px;
  width: 200px;
  background-color: aqua;
}

.generate-button {
  display: block;
  margin: 20px auto;
}

.palette-saver {
  text-align: center;
}

.project-creator {
  width: 40%;
  margin: auto;
}

.project-label {
  display: block;
}